* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  width: 400px;
  height: 280px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 280px;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
